Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.idea/
cmake-build-debug/
mineworld.sln.DotSettings
.vsconfig
CMakeLists.txt
